accelerate
addict
aiohttp
albumentations
diffusers
einops
filelock
ftfy
fvcore
huggingface-hub
importlib_metadata
matplotlib
mediapipe
numpy
omegaconf
opencv-python
Pillow
psutil
python-dateutil
pyyaml
safetensors
scikit-image
scikit-learn
scipy
sentencepiece
soundfile
spandrel
svglib
timm
tokenizers
torchaudio
torchsde
torchvision
tqdm
transformers
trimesh[easy]
yacs
yapf
